/*
 *  In ordered & unorded lists, increase font size.
 */
.rise-enabled ol, .rise-enabled ul {
    font-size: 1.4rem;
}

/*
 *  In tables, increase font size.
 */
.rise-enabled table {
    font-size: 1.4rem;
}

/*
 *  In general text, increase font size.
 */
.rise-enabled p {
    font-size: 1.4rem;
}
